@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.root {
  --contentfontfamily: "Oswald", sans-serif;
  --titlefontfamily: "Open Sans", sans-serif;
  --fontcolor: white;
}
body {
  background-color: rgb(17, 9, 34);
}
.smallfont {
  font-size: 28px;
}
.btn {
  background-color: rgb(16, 212, 212);
  padding: 9px 16px;
  border: none;
  border-radius: 5px;
  font-weight: 700px;
  color: white;
}
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  padding: 20px 0px;
}

/* Navigation bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0px;
  position: sticky;
  top: 0;
  background-color: rgb(17, 9, 34);
  color: var(--fontcolor);
  z-index: 1;
}
.logo img {
  border-radius: 60px;
  width: 60px;
  height: 60px;
}
.menu ul {
  display: flex;
  gap: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(196, 69, 207);
}

/* Main body content */
main {
  margin: 0px 0px;
}

/* Home */
.home {
  padding: 80px 0px;
  background-color: rgb(17, 9, 34);
  color: whitesmoke;
}
.homecontent {
  display: flex;
  flex-direction: column;
}
.homeflex {
  display: flex;
  justify-content: center;
  align-content: right;
  gap: 300px;
}
.myname {
  font-size: 60px;
  align-content: bottom;
}
.roleheading {
  font-size: 100px;
}
.content {
  font-family: var(--contentfontfamily);
  font-style: italic;
  font-weight: 400;
  font-size: 35px;
  width: 30vw;
}

.myimage > img {
  border-radius: 30px;
  width: 400px;
  height: 400px;
  transform: rotate(7deg);
}
.myimage > img:hover {
  transform: rotate(0deg);
}

/* Work */

.experience {
  border: 2px solid rgb(238, 35, 8);
  /* background-color: rgb(20, 232, 232); */
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0px;
}

.experience ul {
  padding: 22px;
}

/* Project section */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.item {
  background-color: rgba(202, 198, 198, 0.865);
  font-family: "Poppins", sans-serif;
  padding: 23px;
  border-radius: 14px;
  text-align: center;
}

/* Contact section on home */

.socialicons {
  display: flex;
  justify-content: left;
  margin-top: 60px;
}
.socialicons ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.socialicons a {
  text-decoration: none;
  text-align: center;
}
.btncv {
  padding: 15px;
  border-radius: 30px;
  background-color: transparent;
  border-color: blueviolet;
  color: rgb(141, 63, 214);
}
.btncv > a {
  text-decoration: none;
}
.btncv:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

/* Media */
@media screen and (max-width: 768px) {
  /* Project */
  .grid {
    grid-template-columns: 1fr;
  }
  .nav {
    padding: 5px 0px;
  }
  .logo img {
    border-radius: 60px;
    width: 40px;
    height: 40px;
  }
  .menu ul {
    gap: 10px;
    font-size: 13px;
  }

  /* Home */
  .home {
    padding: 30px 0px;
    background-color: rgb(17, 9, 34);
    color: whitesmoke;
  }
  .myname {
    font-size: 32px;
  }
  .roleheading {
    font-size: 50px;
  }
  .content {
    width: fit-content;
  }
  .homecontent {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .myname {
    font-size: 30px;
    align-content: bottom;
  }
  .roleheading {
    font-size: 40px;
  }
  .content {
    font-family: var(--contentfontfamily);
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    padding-left: 25px;
    /* width: 30vw; */
  }

  .homeflex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

  }
  .myimage > img {
    border-radius: 30px;
    width: 270px;
    height: 270px;
    /
  }

  /* Contact section on home */

  .socialicons {
    display: flex;
    justify-content: left;
    margin-top: 25px;
  }
  .socialicons ul img {
    width: 40px;
    height: 40px;
  }
  /* comman component */
  .title {
    font-size: 30px;
    padding: 15px 0px;
  }
  .smallfont {
    font-size: 24px;
  }
}
