@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.root {
  --contentfontfamily: "Oswald", sans-serif;
  --titlefontfamily: "Open Sans", sans-serif;
  --fontcolor: white;
}

.smallfont {
  font-size: 28px;
}
.btn {
  background-color: rgb(16, 212, 212);
  padding: 9px 16px;
  border: none;
  border-radius: 5px;
  font-weight: 700px;
  color: white;
}
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  padding: 20px 0px;
}

/* Navigation bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0px;
  position: sticky;
  top: 0;
  background-color: rgb(17, 9, 34);
  color: var(--fontcolor);
  z-index: 1;
}
.logo img {
  border-radius: 60px;
  width: 60px;
  height: 60px;
}
.menu ul {
  display: flex;
  gap: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(196, 69, 207);
}

/* Main body content */
main {
  margin: 0px 0px;
}

/* Home */
.home {
  padding: 80px 0px;
  background-color: rgb(17, 9, 34);
  color: whitesmoke;
}
.homeflex {
  display: flex;
  justify-content: center;
  align-content: right;
  gap: 300px;
}
.homecontent {
  display: flex;
  flex-direction: column;
}
.myname {
  font-size: 60px;
  align-content: bottom;
}
.roleheading {
  font-size: 100px;
}
.content {
  font-family: var(--contentfontfamily);
  font-style: italic;
  font-weight: 400;
  font-size: 35px;
  width: 30vw;
}

.myimage > img {
  border-radius: 30px;
  width: 400px;
  height: 400px;
  transform: rotate(7deg);
}
.myimage > img:hover {
  transform: rotate(0deg);
}

/* Experience */
.experience-section {
  background-color: rgb(22, 20, 20);
}
.page-container {
  padding: 20px 50px;
  color: white;
}

.experience {
  background-color: rgb(64, 53, 88);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0px;
}
.company-name {
  background-color: rgb(44, 25, 84);
}
.experience:hover {
  background-color: rgb(101, 67, 174);
}
.year-flex {
  display: flex;
  justify-content: space-between;
}
.experience ul {
  padding: 22px;
}

/* Skills section */

.skills-section {
  background-color: rgb(17, 9, 34);
}
.skills-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0px;
}

.skill-item {
  background-color: rgb(41, 28, 68);
  text-align: center;
  padding: 40px 50px;
  border-radius: 30px;
}
.skill-item:hover {
  background-color: rgb(96, 53, 181);
}
.skill-text {
  padding-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  font-weight: 800;
}
.skill-item img {
  width: fit-content;
  height: 100px;
}

/* Project section */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.item {
  background-color: rgba(202, 198, 198, 0.865);
  font-family: "Poppins", sans-serif;
  padding: 23px;
  border-radius: 14px;
  text-align: center;
}

/* Contact section on home */

.socialicons {
  display: flex;
  justify-content: left;
  margin-top: 60px;
}
.socialicons ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.socialicons a {
  text-decoration: none;
  text-align: center;
}
.btncv {
  padding: 15px;
  border-radius: 30px;
  background-color: transparent;
  border-color: blueviolet;
  color: rgb(141, 63, 214);
}
.btncv > a {
  text-decoration: none;
}
.btncv:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

/* Media */
@media screen and (max-width: 768px) {
  /* Project */
  .grid {
    grid-template-columns: 1fr;
  }
  .nav {
    padding: 5px 0px;
  }
  .logo img {
    border-radius: 60px;
    width: 40px;
    height: 40px;
  }
  .menu ul {
    gap: 10px;
    font-size: 13px;
  }

  /* Home */
  .home {
    padding: 30px 0px;
    background-color: rgb(17, 9, 34);
    color: whitesmoke;
  }
  .myname {
    font-size: 32px;
  }
  .roleheading {
    font-size: 50px;
  }
  .content {
    width: fit-content;
  }
  .homecontent {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .myname {
    font-size: 30px;
    align-content: bottom;
  }
  .roleheading {
    font-size: 40px;
  }
  .content {
    font-family: var(--contentfontfamily);
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    padding-left: 25px;
  }

  .homeflex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .myimage > img {
    border-radius: 30px;
    width: 270px;
    height: 270px;
  }

  /* Contact section on home */

  .socialicons {
    display: flex;
    justify-content: left;
    margin-top: 25px;
  }
  .socialicons ul img {
    width: 40px;
    height: 40px;
  }

  /* Experience Section */

  .page-container {
    padding: 20px 20px;
  }
  .experience-section .experience.company-name h3 {
    background-color: rgb(44, 25, 84);
    font-size: 23px;
  }
  .experience-section .experience.smallfont .year-flex {
    justify-content: space-between;
    font-size: 18px;
  }
  .experience ul {
    padding: 15px;
    font-size: 20px;
    line-height: 29px;
  }

  /* Skills section */

  .skills-flex {
    gap: 20px;
    padding: 25px 0px;
  }
  .skill-item {
    text-align: center;
    padding: 20px 40px;
    border-radius: 20px;
  }
  .skill-text {
    padding-top: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: large;
    font-weight: 400;
  }
  .skill-item img {
    width: 50px;
    height: 50px;
  }

  /* comman component */
  .title {
    font-size: 30px;
    padding: 15px 0px;
  }
  .smallfont {
    font-size: 24px;
  }
}
